---
layout: default
---

<header>
    <h1>Paolo Brasolin</h1>

    <ul id="contacts">
        {% for item in site.data.contacts %}
        <li>
            <i aria-hidden="true" class="{{ item.icon }}" title="{{ item.label }}"></i>
            <span class="sr-only">{{ item.label }}:</span>
            <a target="_blank" href="{{ item.link }}">{{ item.value }}</a>
        </li>
        {% endfor %}
        <li class="print:hidden">
            <i aria-hidden="true" class="fas fa-file-pdf" title="Get PDF"></i>
            <span class="sr-only">Get PDF:</span>
            <a download href="./assets/paolo-brasolin-cv.pdf">Download</a>
            or
            <a href="#" onClick="window.print();return false;">Print to PDF</a>
        </li>
    </ul>

    <nav>
        <ul id="contacts">
            <li><a href="#profile">Profile</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#education">Education</a></li>
            <!-- <li><a href="#publications">Publications</a></li> -->
            <!-- <li><a href="#service">Service</a></li> -->
        </ul>
    </nav>

</header>

{% include simple_section.html content=site.data.profile %}
{% include events_section.html content=site.data.experience %}
{% include events_section.html content=site.data.education %}