{% if include.content.items %}
<section>
    <h2><a name="{{ include.content.title | slugify }}">{{ include.content.title }}</a></h2>

    {% for item in include.content.items %}
    <article>

        <header>
            <h3>{{ item.title | markdownify | remove: "<p>" | remove: "</p>" }}</h3>
            <div>{{ [item.employer, item.location] | join: ", " }}</div>
            <time datetime="{{ items.dates.range }}">{{ item.dates.label | markdownify | remove: "<p>" | remove: "
                </p>" }}</time>
        </header>

        {% if item.extra %}
        {{ item.extra | markdownify }}
        {% endif %}

    </article>
    {% endfor %}

</section>
{% endif %}