/* @import "./seigaiha.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Lato", sans-serif;
}

/* Page setup for print media */
@media print {
  @page {
    size: a4 portrait;
    margin: 2rem;
  }
  html {
    font-size: 10pt;
  }
}

/* Base style */
main {
  @apply bg-white text-black;

  a[href] {
    @apply underline;
  }

  & > header {
    @apply bg-black text-white;
    h1 {
      @apply font-extrabold text-5xl;
    }
  }

  & > section {
    h2 {
      @apply text-3xl font-bold;
    }

    article {
      header {
        h3 {
          @apply font-bold text-lg;
        }
        div,
        time {
          @apply italic text-gray-500;
        }
      }
      ul {
        @apply list-[square] list-outside print:list-inside;
        li:before {
          @apply print:-ml-2 print:content-[""];
        }
      }
    }
  }
}

/* Fluid main header layout */
@media screen {
  main > header {
    @apply p-8 sm:px-16 md:p-8;
    @apply flex gap-8 flex-row flex-wrap justify-start;
    @apply md:flex-col;
    h1 {
      @apply w-full;
    }
  }
}
@media print {
  main > header {
    @apply flex flex-row;
    @apply text-black bg-white;
    h1 {
      word-spacing: 100vw;
    }
  }
}

/* Main sections layout  */
@media screen {
  main > section {
    @apply m-8 sm:m-16 md:mt-0 first-of-type:md:mt-16;
    @apply flex-col;

    h2 {
      @apply mb-4;
    }

    article {
      @apply my-4;

      header {
        @apply my-2;
        @apply flex flex-wrap justify-between;
        h3 {
          @apply w-full;
        }
      }
    }
  }
}
@media print {
  main > section {
    @apply my-8;
    article {
      @apply my-2;
      header {
        @apply flex gap-4 items-baseline break-after-avoid-page;
        div {
          @apply grow;
        }
      }
    }
  }
}

/* Floating sheet effect */
@media screen and screen(md) {
  body {
    @apply p-8 bg-gray-200;
    main {
      @apply max-w-4xl m-auto shadow-lg;
    }
  }
}

/* Two columns layout */
@media screen and screen(md) {
  main {
    @apply grid grid-rows-1 grid-cols-[1fr_2fr];
    & > header {
      @apply col-start-1 col-end-2 row-start-1 row-end-[100];
    }
    & > section {
      @apply col-start-2 col-end-3;
    }
  }
}

/* Sticky navigation */
@media screen and screen(md) {
  main > header {
    @apply relative;
    & > nav {
      @apply sticky top-4;
    }
  }
}

/* Contacts list */
ul#contacts {
  li {
    @apply whitespace-nowrap;
    i {
      @apply w-4 inline-flex justify-center mr-1;
    }
  }
}

/* Navigation */
nav {
  @apply print:hidden;
  ul {
    li:before {
      /* .fa */
      font-family: var(--fa-style-family, "Font Awesome 6 Free");
      font-weight: var(--fa-style, 900);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: var(--fa-display, inline-block);
      font-style: normal;
      font-variant: normal;
      line-height: 1;
      text-rendering: auto;
      /* .fa-circle:before */
      content: "\f111";
      /* custom */
      @apply w-4 inline-flex justify-center mr-1;
      font-size: 0.5em;
      vertical-align: 0.25em;
    }
  }
}

/* https://tess.oconnor.cx/2007/08/tex-poshlet */
/* .tex,
.latex {
  sub {
    text-transform: uppercase;
    bottom: unset;
    font-size: 1em;
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
  }
}
.latex {
  sup {
    text-transform: uppercase;
    top: unset;
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
  }
} */
