@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Lato", sans-serif;
}

body {
  @apply bg-gray-100;
  @apply md:p-8;
}

main {
  @apply shadow-lg;
  @apply bg-white;
  @apply max-w-4xl m-auto;

  section:first-child {
    @apply p-8;
    @apply bg-black text-white;
    @apply flex gap-8 flex-row flex-wrap justify-start md:flex-col;
    h1 {
      @apply w-full;
      @apply font-extrabold text-5xl;
    }
  }

  section {
    @apply p-8 sm:p-16;
    @apply flex-col;

    h2 {
      @apply text-3xl;
    }

    article {
      @apply my-4;

      header {
        @apply my-2;
        @apply flex flex-wrap justify-between;
        h3 {
          @apply w-full;
          @apply font-bold text-lg;
        }
        div,
        time {
          @apply italic text-gray-500;
        }
      }
    }
  }

  ul#contacts {
    li {
      @apply whitespace-nowrap;
      i {
        @apply w-4 inline-flex justify-center mr-1;
      }
    }
  }

  @media screen(md) {
    @apply grid grid-rows-1 grid-cols-[1fr_2fr];
    section:first-child {
      @apply col-start-1 col-end-2 row-start-1 row-end-[100];
    }
    section:not(:first-child) {
      @apply col-start-2 col-end-3;
    }
  }
}

a[href] {
  @apply underline;
}

nav {
  ul {
    li:before {
      /* .fa */
      font-family: var(--fa-style-family, "Font Awesome 6 Free");
      font-weight: var(--fa-style, 900);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: var(--fa-display, inline-block);
      font-style: normal;
      font-variant: normal;
      line-height: 1;
      text-rendering: auto;
      /* .fa-circle:before */
      content: "\f111";
      /* custom */
      @apply w-4 inline-flex justify-center mr-1;
      font-size: 0.5em;
      vertical-align: 0.25em;
    }
  }
}
